.card {
  width: 22vw;
  height: 60vh;
  background-color: rgb(151, 131, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0vh 2vw;
  border-radius: 4vh;
  flex-shrink: 0;
}

.card h1 {
  color: rgb(91, 91, 91);
  text-align: center;
  margin-top: -4%;
  margin-bottom: 10%;
}

.card img {
  margin-bottom: 10%;
  height: 40%;
}