/*GLOBAL STYLES*/
h1 {
  font-family: 'Antic Slab', serif;
}



/*DESKTOP STYLES*/
@media screen and (min-width: 992px) {
  #topImgDiv {
    position: relative;
    margin-top: 6%;
    margin-bottom: 5%;
  }
  
  #topImg {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
  
  #topImgDiv::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background: linear-gradient(to bottom, transparent, rgba(253,236,254,255));
  }
  
  #wave {
    margin-left: -2%;
    margin-right: 2%;
  }
  
  .itemThing {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 4%;
  }
  
  .itemThing * {
    color: rgba(66,66,66,255);
  }

  .itemThing h3 {
    color: black;
  }
  
  .itemThing div h1 {
    font-size: 3vw;
  }

  .itemThing .itemInner {
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-bottom: 2%;

  }

  .itemThing .itemInner:nth-of-type(2) {
    justify-content: center;
  }

  .itemThing .itemInner h3{
    width: 70%;
    margin-left: 15%;
    font-size: 1.2vw;
    word-spacing: 0.2em; 
    line-height: 1.5; 
  }

  .itemThingImg {
    width: 80%;
    margin-left: 10%;
    border-radius: 10%;
  }

  .rounded-img {
    border-radius: 10%;
    object-fit: cover;
  }
  
}

/*MOBILE-SPECIFIC STYLES*/
@media screen and (max-width: 991px) {
  #topImgDiv {
    position: relative;
    margin-top: 7%;
  }
  
  #topImg {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
  
  #topImgDiv::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, transparent, rgba(66,66,66,255));
  }
  
  #wave {
    margin-left: 10%;
    margin-right: 2%;
  }
  
  .itemThing {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20%;
  
  }
  
  .itemThing * {
    color: rgba(66,66,66,255);
  }

  .itemThing h3 {
    color: black;
  }
  
  .itemThing h1 {
    font-size: 7vw;
  }
}
